<section id="widget-grid" class="">
	<div class="row">
		<!-- SMART MAP -->
		<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-0" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
					<h2>SMART MAP</h2>
				</header>
				<div>
					<div class="widget-body no-padding">
						<div id="vector-map" class="vector-map"></div>
					</div>
				</div>
			</div>
		</article>
		<!-- SMART SYSTEMS -->
		<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-1" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-desktop"></i> </span>
					<h2>SMART NOTIFICATIONS</h2>
				</header>
				<div>
					<div class="widget-body">
						<div class="table-responsive">
							<table id="table-smart-systems" class="table table-bordered">
								<thead>
								<tr>
									<th>System</th>
									<th>Date</th>
									<th>Type</th>
									<th>Level</th>
								</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>

<script type="text/javascript">
    pageSetUp();

    var pagefunction = function() {

        // Load Map dependency 1 then call for dependency 2 and then run renderVectorMap function
        loadScript("js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js", function(){
            loadScript("js/plugin/vectormap/jquery-jvectormap-itregions-mill-it.js", renderVectorMap);
        });


        function renderVectorMap() {

			$('#vector-map').vectorMap({
                map: 'it_regions_mill',
                backgroundColor: '#fff',
                regionStyle: {
                    initial: {
                        fill: '#c4c4c4'
                    },
                    hover: {
                        "fill-opacity": 1
                    }
                },
				markerStyle: {
                    initial: {
                        fill: '#F8E23B',
                        stroke: '#383f47'
                    }
                },
                onRegionLabelShow: function (e, el, code) {
                        e.preventDefault();
                }
            });
            $.getJSON( "/installation_get_all", function (data) {
                for (var i = 0; i < data.length; i++) {
                    $('#vector-map').vectorMap('get', 'mapObject').addMarker(i, {latLng: [data[i]['longitude'], data[i]['latitude']], name: data[i]['displayedName']});
                    $('#table-smart-systems tbody').append('<tr><td>' + data[i]['displayedName'] + '</td><td> just now </td><td> FAILED TASK </td><td> WARNING </td></tr>');
                }
            });
        }
    };

    var pagedestroy = function(){

        // destroy vector map objects
        $('#vector-map').find('*').addBack().off().remove();


        // debug msg
        if (debugState){
            root.console.log("✔ Calendar, Flot Charts, Vector map, misc events destroyed");
        }

    }

    pagefunction();

</script>