/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
body.smart-style-6 #logo-group>span#logo:before{content:"PRISM - SmartiKette";font-size:17px;color:#fff;font-weight:300;margin-top:1px;display:block}
body.smart-style-6 #content{margin-left: 30px;margin-right: 30px;margin-top: -5px;}
div#vector-map{height: 750px;}
.fixed-navigation nav > ul{width: 100%; padding-right: 5px;}